body {
    font-family: Arial, sans-serif;
    margin: 5em 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
    background-color: rgb(174, 174, 174);
  }
  
  h1 {
    font-family: monospace;
    font-size: 5rem;
  }
  
  #num1, #num2 {
    border-radius: 20px;
    border: 2px solid #141414;
    padding: 0.2rem;
    background: #ffffffb5;
  }
  
  label {
    font-style: italic;
    font-weight: bold;
  }
  
  select {
    border-radius: 20px;
    padding: 0.1rem;
    background-color: #3a3a3a;
    color: #f5f5f5;
  }
  
  .sumbit {
    border-radius: 20px;
    padding: 0.5rem 0.6rem;
    border-radius: 2px solid #1f1d1d;
    background-color: #1f1d1d;
    color: white;
  }
  
  .sumbit:hover {
    border-radius: 2px solid white;
    background-color: white;
    color: #1f1d1d;
    cursor: pointer;
  }