* {
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

.boDy {
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
    color: #f5f5f5;
    scrollbar-width: none;
    max-width: 100%;
    max-height: 100%;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* NAVBAR SECTION */

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    color: #f5f5f5;
}

.navbar-cnt {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    font-family: 'Sen', sans-serif;
}

.navbar-content {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container {
    width: 20%;
    max-width: 200px;
    min-width: 170px;
    display: flex;
    justify-content: center;
}
.logo {
    width: 80px;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* MENU CONTAINER */

.menu-container {
    width: 50%;
}
.menu-list {
    display: flex;
    list-style: none;
    max-width: 400px;
}
.menu-list-items {
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.menu-list-items:first-child {
    font-weight: bold;
}

.menu-list-items:hover {
    transform: scale(1.2);
    color:#4dbf00
}



/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* PROFILE CONTAINER */

.profile-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.profile-text-container {
    margin: 0 1.125rem;
    cursor: pointer;
    font-size: 1rem;
}

.toggle {
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 1%;
    background-color: black;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.ball-toggle {
    transform: translateX(-20px);
    background-color: white;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* SIDEBAR SECTION */

.sidebar {
    height: 100%;
    width: 5%;
    max-width: 50px;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50px;
    padding-top: 80px;
    color: #f5f5f5;
    z-index: 1;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 70px;
    cursor: pointer;
    transition: all .5s;
}

.left-menu-icons {
    font-size: 20px;
}
.icons-container:hover {
    background-color: #4dbf00;
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* COVER SECTION */

.container {
    min-height: calc(100vh - 50px);
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url(https://wallpaper.dog/large/5445878.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-title, .featured-desc, .featured-button {
    z-index: 1;
}

.featured-title {
    width: 10vw;
    margin: 30px 0;
}

.featured-desc {
    width: 30%;
}

.featured-button {
    width: 120px;
    margin: 30px 0;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #43cd5c;
    color: white;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%),
    radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    border: 0;  
    cursor: pointer;
    transition: all .5s;
}
.featured-button:hover {
    box-shadow: 2px 1px 31px rgba(254, 254, 254, 0.2);
    font-size: 17px;
    transform: scale(1.05);
}

@media screen and (max-width: 885px) {
    .navbar-content {
        width: 70%;
    }
    .profile-container {
        width: 30%;
    }
    .menu-container {
        display: none;
    }
    .profile-text-container {
        margin: 0 .8rem;
        font-size: .8rem;
    }
}
@media screen and (max-width: 970px) {
    .logo-container {
        width: 15%;
    }
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* MOVIE-LIST SECTION */

.movie-list-container {
    padding-top: 50px;
    padding-left: 20px;
}

.movie-list-wrapper {
    position: relative;
    height: 300px;
    overflow-y: hidden;
}
.movie-list {
    display: flex;
    margin-top: 20px;
}

.movie-list-item {
    margin-right: 50px;
}

.movie-list-item-img {
    width: 350px;
    height: 250px;
    border-radius: 2em;
    transition: all 1s;
}

.movie-list-item:hover .movie-list-item-img {
    margin: 0 30px;
    transform: scale(1.1);
}

.movie-list-title {
    cursor: pointer;
}
.movie-list-title:hover {
    color:#4dbf00;
}

.arrow-right-container {
    width: 70px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.23);
    right: 0;
    bottom: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}

.arrow-right-container, .arrow-left-container {
    width: 70px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.23);
    right: 0;
    bottom: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}

.arrow-left-container {
    left: -20px;
}

.-fa-chevron-right, .-fa-chevron-left {
    color: #f5f5f5;
    font-size: 30px;
}

.movie-list-wrapper:hover .arrow-right-container,
.movie-list-wrapper:hover .hidden-arrow  {
    opacity: 1;
}


.active {
    background: white;
    color: #151515;
}

.featured-content.active {
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f5f5f5), url(https://wallpaper.dog/large/5445878.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.toggle.active {
    background: #151515;
}

.boDy.active {
    background: #f5f5f5;
}